body{
    background-color: #fdfdaf;
    color: black;
    font-family: Arial, Verdana, sans-serif;
}
.container{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.containerSlotResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sticky{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 50%; 
    margin-left: 15px;
    transform: translateY(-50%); 
}
.gambleSlot{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    width: 300px; 
    background-color: white;    
}
.gambleSlotTitle{
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    background-color: red;
}
.gambleSlotContent{
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FF5F5F;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 10px;
    padding-bottom: 10px;
}
.gambleSlotDescription{
    margin: 10px;
}
.timer{
    font-size: 60px;
}
.password{
    border-radius: 15px;
    font-size: 20px;
    height: 50px;
    width: 700px;
}
.rules{
    border-radius: 20px;
    color: black;
    height: 200px;
    width: 800px;
    background-color: #fdfdaf;
    margin-top: 20px;
}
.rulestitle{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: red;
}
.rulescontent{
    font-size: 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 95, 95);
}
.buttonStyles{
    background-color: rgb(255, 95, 95);
    color: #050801;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;

    transition: 0.5s;
    cursor: pointer;
  }
  
  .buttonStyles:hover{
      background: rgb(255, 41, 41);
      color: #050801;
      box-shadow: 0 0 15px rgb(255, 41, 41),
                  0 0 15px rgb(255, 41, 41),
                  0 0 15px rgb(255, 41, 41),
                  0 0 15px rgb(255, 41, 41);
  }
.dog_img{
    width: 300px;
    height: 180px;
}
.color{
    border-radius: 20px;
    height: 100px;
    width: 100%;
    background-color: white;
}
#rule2{
    display: none;
}
#rule3{
    display: none;
}
#rule4{
    display: none;
}
#rule5{
    display: none;
}
#rule6{
    display: none;
}
#rule7{
    display: none;
}
#rule8{
    display: none;
}
#rule9{
    display: none;
}
#rule10{
    display: none;
}
#rule11{
    display: none;
}
#rule12{
    display: none;
}
#rule13{
    display: none;
}
#rule13{
    display: none;
}
#rule14{
    display: none;
}
#rule15{
    display: none;
}
@media (max-width: 1500px) {
    .sticky{
        margin-top:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        left: 50%;
        bottom: 0;

    }
}
@media (max-width: 1000px) {
    .sticky{
        margin-top:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        left: 50%;
        bottom: 0;
    }
    .password{
        font-size: 20px;
        height: 50px;
        width: 400px;  
    }
    .rules{
        color: black;
        height: 200px;
        width: 500px;
        margin-top: 20px;
    }
}
@media (max-width: 700px) {
    .sticky{
        margin-top:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        left: 50%;
        bottom: 0;
    }
    .password{
        font-size: 20px;
        height: 50px;
        width: 300px;  
    }
    .rules{
        color: black;
        height: 200px;
        width: 400px;
        margin-top: 20px;
    }
    .gambleSlot{ 
        width: 350px;   
    }
}
@media (max-width: 500px) {
    .sticky{
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        left: 50%;
        bottom: 0;
        margin-top:200px;
    }
    .password{
        font-size: 20px;
        height: 50px;
        width: 250px;  
    }
    .rules{
        color: black;
        height: 200px;
        width: 300px;
        margin-top: 20px;
    }
    .gambleSlot{
        width: 250px;   
    }
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.76,0.05,0.24,0.95);
	--trans-timing-in: cubic-bezier(0.76,0.05,0.86,0.06);
	--trans-timing-out: cubic-bezier(0.05,0.76,0.06,0.86);
}
input {
	color: var(--fg);
	font: 1em/1.5 sans-serif;
}
body:has(.switch__input:checked) {
	background-color: black;
	color: var(--bg);
}
.rules:has(.switch__input:checked) {
	background-color: var(--fg);
}
.switch {
    margin-top: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.switch__input {
	display: block;
}
.switch__icon {
	position: absolute;
    z-index: 2;
	top: 0.55em;
	right: 3.375em;
	width: 0.75em;
	height: 0.75em;
	transition:
		opacity calc(var(--trans-dur) / 2),
		transform calc(var(--trans-dur) / 2);
}
.switch__icon polyline {
	transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}
.switch__icon--light,
.switch__icon--light polyline {
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__icon--dark {
	opacity: 0;
	transform: translateX(-0.75em) rotate(30deg) scale(0.75);
	transition-timing-function: var(--trans-timing-in);
}
.switch__input {
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.125em hsla(var(--hue),90%,50%,0),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
	outline: transparent;
	position: relative;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		box-shadow 0.15s linear;
}
.switch__input:focus-visible {
	box-shadow:
		0 0 0 0.125em hsl(var(--hue),90%,50%),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
}
.switch__input:before,
.switch__input:after {
	content: "";
	display: block;
	position: absolute;
}
.switch__input:before {
	background-color: rgb(239, 194, 13);
	border-radius: inherit;
	inset: 0;
	transition: background-color var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue),90%,10%,0.1);
	top: 0.125em;
	left: 0.125em;
	width: 1.25em;
	height: 1.25em;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		transform var(--trans-dur) var(--trans-timing);
	z-index: 1;
}
.switch__input:checked {
	background-color: hsl(220,90%,40%);
}
.switch__input:checked:before {
	background-color: hsl(220,90%,40%);
}
.switch__input:checked:after {
	background-color: black;
	transform: translateX(1.5em);
    color: black;
}
.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
	transition-delay: 0s;
	transition-timing-function: var(--trans-timing-in);
}
.switch__input:checked ~ .switch__icon--light {
	opacity: 0;
	transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}
.switch__input:checked ~ .switch__icon--light polyline {
	stroke-dashoffset: 1.5;
}
.switch__input:checked ~ .switch__icon--dark {
	opacity: 1;
	transform: translateX(-1.5em);
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
