body{
    background-color: black;
    color: white;
}
.container{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.containerSlotResult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sticky{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 50%; 
    margin-left: 15px;
    transform: translateY(-50%); 
}
.gambleSlot{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    width: 300px; 
    background-color: white;    
}
.gambleSlotTitle{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    background-color: red;
}
.gambleSlotContent{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FF5F5F;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 10px;
    padding-bottom: 10px;
}
.gambleSlotDescription{
    margin: 10px;
}
.timer{
    font-size: 60px;
}
.password{
    font-size: 20px;
    height: 50px;
    width: 700px;
}
.rules{
    color: black;
    height: 200px;
    width: 800px;
    background-color: black;
    margin-top: 20px;
}
.rulestitle{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: red;
}
.rulescontent{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 95, 95);
}
.dog_img{
    width: 300px;
    height: 180px;
}
.color{
    border-radius: 20px;
    height: 100px;
    width: 100%;
    background-color: white;
}
#rule2{
    display: none;
}
#rule3{
    display: none;
}
#rule4{
    display: none;
}
#rule5{
    display: none;
}
#rule6{
    display: none;
}
#rule7{
    display: none;
}
#rule8{
    display: none;
}
#rule9{
    display: none;
}
#rule10{
    display: none;
}
#rule11{
    display: none;
}
#rule12{
    display: none;
}
#rule13{
    display: none;
}
#rule13{
    display: none;
}
#rule14{
    display: none;
}
#rule15{
    display: none;
}
@media (max-width: 1500px) {
    .sticky{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-55%);
    }
}
@media (max-width: 1000px) {
    .sticky{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-55%);
    }
    .password{
        font-size: 20px;
        height: 50px;
        width: 400px;  
    }
    .rules{
        color: black;
        height: 200px;
        width: 500px;
        background-color: black;
        margin-top: 20px;
    }
    .gambleSlot{
        margin-top:100px;
    }
}
@media (max-width: 700px) {
    .sticky{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-55%);
    }
    .password{
        font-size: 20px;
        height: 50px;
        width: 300px;  
    }
    .rules{
        color: black;
        height: 200px;
        width: 400px;
        background-color: black;
        margin-top: 20px;
    }
    .gambleSlot{
        margin-top:200px;
        width: 300px;   
    }
}
